/* home mobile style  */

@media (max-width: 576px) {
    /* subscribe */
    section.subscribe>div.container>div.row>div.col-sm>img {
        display: block;
        margin: 0 auto;
    }
    /* contact Us */
    section.contactus .hours-content {
        align-items: center;
    }
    /* teacher page  */
    /* classes video */
    body.teacher section.classes-video {
        margin-top: 30px;
    }
    body.teacher section.classes-video .info-ico {
        display: none;
    }
    body.pricing section.challenge {
        background-position: bottom;
    }
    /* contact page style  */
    body.contact-page section.contact-content .form-wrap .input-wrap {
        flex-direction: column;
    }
    body.contact-page section.contact-content .form-wrap .input-wrap input,
    body.contact-page section.contact-content .form-wrap .input-wrap select {
        width: 100%;
    }
    body.contact-page section.header-content p {
        padding-bottom: 0;
    }
}

@media (max-width: 991px) {
    /* nav */
    header .navbar-collapse {
        padding: 20px 0;
        background: #ffffffe6;
        border-radius: 12px;
        -webkit-box-shadow: 6px 6px 12px 6px rgb(116 146 236 / 35%);
        -moz-box-shadow: 6px 6px 12px 6px rgba(116, 146, 236, 0.35);
        box-shadow: 6px 6px 12px 6px rgb(116 146 236 / 35%);
    }
    /* slider title  */
    section.slider .carousel-caption.d-none.d-md-block>h5 {
        font-size: 50px;
    }
}